<div class="card p-3 m-4">
  <img src="assets/images/car-dummy.png" class="card-img-top" alt="..." />
  <div class="card-body py-4 px-0 d-flex flex-column">
    <p class="card-title">Avanza / tipe mobil</p>
    <h5 class="card-price">
      <strong>Rp 430.000 / hari</strong>
    </h5>
    <div class="d-flex flex-row align-items-center">
      <img class="svg card-rent pe-2" src="assets/svg/fi_key.svg" alt="key" />
      <p class="m-0">Start rent - Finish rent</p>
    </div>
    <div class="d-flex flex-row align-items-center">
      <img
        class="svg card-date pe-2"
        src="assets/svg/fi_clock.svg"
        alt="clock"
      />
      <p class="m-0">Updated at</p>
    </div>
  </div>
  <div class="d-flex flex-row justify-content-between">
    <button
      type="button"
      class="btn btn-outline-danger w-50 me-2 py-3"
      onclick="deleteData()"
    >
      <img
        class="svg-button mb-1 me-2"
        src="assets/svg/fi_trash-2.svg"
        alt="delete"
      />
      <strong>Delete</strong>
    </button>
    <button
      type="button"
      class="btn btn-success w-50 ms-2 py-3"
      onclick="closeModal()"
    >
      <img
        class="svg-button mb-1 me-2"
        src="assets/svg/fi_edit.svg"
        alt="duration"
      />
      <strong>Edit</strong>
    </button>
  </div>
</div>
