<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- head imports -->
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <!-- navbar -->
    <%- include('../partials/header.ejs') %>
    <!-- sidebar -->
    <%- include('../partials/sidebar.ejs') %>
    <!-- main content -->
    <div class="container-fluid d-flex p-0"><%- body %></div>
  </body>
</html>
