<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <div class="container-fluid d-flex flex-col p-0 min-vh-100">
      <%- body %>
    </div>
  </body>
</html>
