<div class="vh-100 vw-100 mx-auto d-flex flex-column justify-content-center align-items-center bg-primary">
  <h1 class="mx-auto"><strong><%= message %></strong></h1>
  <h2 class="mx-auto"><strong>Status Code: <%= error.status %></strong></h2>
  <!-- <pre class="mx-auto"><%= error.stack %></pre> -->
  <div class="">
  </div>
</div>