* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.container-custom {
  display: flex;
}

/* aside */
aside {
  display: flex;
  min-height: 100vh;
  position: fixed;
}
.nav-icons {
  background-color: #0d28a6;
  width: 68px;
}

.icon {
  height: 68px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  p {
    margin: 0;
  }
}

.icon > a i {
  font-size: 34px;
}
.icon > a {
  font-size: 10px;
  display: block;
  color: white;
}

.icon:hover,
.icon:active {
  background: rgba(255, 255, 255, 0.3);
}

.nav-desc {
  // background-color: blueviolet;
  width: 200px;
  transition: 0.5s;
  z-index: -1;
}
.nav-item {
  font-size: 14px;
  display: block;
  text-decoration: none;
  color: black;
}
.nav-item:hover {
  background-color: #cfd4ed;
}

/* main */
// .header {
//   display: flex;
//   align-items: center;
//   margin-top: -0.5rem;
//   justify-content: space-between;
//   width: 100%;
//   padding-bottom: 1rem;
// }

// .header button,
// input {
//   height: 2rem;
// }

// .header button {
//   margin-left: -5px;
//   width: 2rem;
// }

// .header-content {
//   display: flex;
//   align-items: center;
//   gap: 1rem;
// }

main {
  margin-left: 268px;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
  transition: 0.5s;
}

#toggle {
  font-size: 34px;
}

.main-content {
  // margin-top: -5px;
  padding: 0 1rem;
  background-color: #f4f5f7;
  // overflow-y: scroll;
  // height: 100vh;
}
/* effect */
.slide-left-nav {
  margin-left: -268px;
}
.slide-left-main {
  margin-left: 60px;
}

/* Login page styles */
.content-login {
  width: 600px;
}

@media only screen and (max-width: 576px) {
  .content-login {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 1400px) {
}
