!
<aside>
  <section class="nav-icons">
    <div class="head-nav-logo m-3">
      <a href="/dashboard">
        <img src="/assets/images/logo-square.png" alt="logo" />
      </a>
    </div>
    <div class="icons">
      <!-- style="background: rgba(255, 255, 255, 0.3) -->
      <div class="icon">
        <a href="/dashboard">
          <i class="bx bx-home-alt"></i>
          <p class="m-0">Dashboard</p>
        </a>
      </div>
      <div class="icon">
        <a href="/cars">
          <i class="bx bx-car"></i>
          <p class="m-0">Cars</p>
        </a>
      </div>
    </div>
  </section>
  <section class="nav-desc" id="nav_desc">
    <div class="ps-4 my-3">
      <img src="/assets/images/logo-bcr.png" alt="logo" />
    </div>
    <div class="nav-desc-items pt-4">
      <p class="nav-title ps-4 pb-1" style="color: #8a8a8a">
        <strong><%= heading %></strong>
      </p>
      <a href="" class="nav-item ps-4 py-3" style="background: #cfd4ed"
        ><strong><%= subHeading %></strong></a
      >
    </div>
  </section>
</aside>
