<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- head imports -->
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <div class="container-fluid d-flex p-0">
      <%- include('../partials/sidebar') %>
      <main id="main"><%- include('../partials/header') %> <%- body %></main>
    </div>
    <script src="/javascripts/sidebarToggler.js"></script>
    <script src="/javascripts/tables.js"></script>
  </body>
</html>
