<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- head imports -->
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <!-- main content -->
    <div class="root container-fluid d-flex p-0"><%- body %></div>
  </body>
</html>
